<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500, 600, 700" rel="stylesheet" />
        <link rel="stylesheet" href="css/main.css">
        <link rel="shortcut icon" type="image/png" href="./img//foliosky.svg">
        
        <title>Bahammou &#10072; Front-end Developer</title>
    </head>

    <body>
        <div class="container">

            <header class="header">
                <div class="header__wrapper">
                    <img src="./img/foliosky.png" alt="portfolio logo" class="header__logo">
                    <nav class="navigator">
                        <a href="/" class="navigator__link">About me</a>
                        <a href="/" class="navigator__link">Portfolio</a>
                        <a href="/" class="navigator__link">Contact</a>
                    </nav>
                </div>
            </header>

            <main class="main">
                <section class="section">
                    <img src="./img//foliosky_background.png" alt="background logo" class="section__background">
                </section>
            </main>

        </div>
    </body>
</html>