// 🎲🎲 Header -------------------------------------------------------------------------------------------------------------
.header {
    
    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 11rem;

        @media only screen and (max-width: $bp-large ) {
            margin: 0 6rem;
        }

        @media only screen and (max-width: $bp-medium ) {
            margin: 0 4rem;
        }

        @media only screen and (max-width: $bp-small ) {
            margin: 0 2rem;
        }

    }

    &__logo {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__image {
        height: 3.8rem;
        margin-right: 1rem;
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin-right: auto;

        &-primary {
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.8rem;
            color: var(--text);
            text-transform: uppercase;
        }

        &-secondary {
            font-size: .9rem;
            font-weight: 700;
            line-height: .8rem;
            margin-left: .3rem;
            color: var(--color-primary-light);
            letter-spacing: .46rem;
            text-transform: uppercase;
            transform: scaleY(.90);
        }
    }

    .navigator {

        &__link {
            font-size: 1.1rem;
            font-weight: 700;
            padding: 1rem 2rem;
            color: var(--color-text);
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                color: var(--color-primary-light);
            }
        }
    }
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__wrapper {
        width: 100%;
        padding: 6rem 0;
        margin-top: 14.35rem;
        margin-bottom: auto;
        color: var(--color-text);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__header {
        text-align: center;
        margin-bottom: 6rem;

        @media only screen and (max-width: $bp-medium ) {
            margin-bottom: 4rem;
        }

        @media only screen and (max-width: $bp-small ) {
            margin-bottom: 3rem;
        }
    }

    &__primary {
        font-size: 2.4rem;
        font-weight: 700;
        color: var(--color-primary);
        text-transform: uppercase;
        margin-bottom: .1rem;
    }

    &__secondary {
        font-size: 1.9rem;
        font-weight: 400;
        color: var(--text);
    }

    &__tertiary {
        font-size: 1.85rem;
        font-weight: 600;
        color: var(--text-highlight);
        margin-top: 5rem;
        margin-bottom: 1.6rem;
    }

    &__content {
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 1.7;
        text-align: center;
        width: 85%;

        @media only screen and (max-width: $bp-small ) {
            width: 95%;
        }
    }

}

.title {
    width: 90%;
    margin: 0 auto;
    
    &__wrapper {
        margin-bottom: 6rem;
    }
}

// ✌✌ About me ----------------------------------------------------------------------------------------------------------
.paragraph {
    margin: 1.6rem 0;
}

.language {
    width: 75%;
    margin: 0 auto;

    &:not(:last-child){
        margin-bottom: 3rem;
    }

    @media only screen and (max-width: $bp-medium ) {
        width: 100%;
    }

    &__detail {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.8;
        color: var(--color-primary);
        text-transform: uppercase;

        &:not(:last-of-type){
            margin-bottom: 1rem;
        }
    }
}

.cours {
    &__link {
        color: var(--text-highlight);
        font-weight: 600;

        &-portfolio {
            cursor: pointer;
            text-decoration: underline;
        }

        &:hover {
            color: var(--color-primary);
        }
    }
}

.button {

    &__wrapper {
        display: flex;
        justify-content: center;

        & a:first-of-type {
            margin-right: 3rem;
        }
    }

    &__icon {
        color: inherit;
        margin-right: .5rem;
    }
}

.span {

    &__primary {
        font-weight: 600;
        font-style: italic;
        color: var(--color-white);
        position: relative;
        padding: .2rem .3rem;
        word-break: break-word;
        white-space: normal;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: var(--color-primary);
            transform: rotate(-1.5deg);
            z-index: -1;
        }
    }

    &__secondary {
        color: var(--text-highlight);
        font-weight: 600;
        font-style: italic;
    }

}

// 💪💪 Portfolio ----------------------------------------------------------------------------------------------------------

.portfolio {

    &__content {
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 1.7;
        text-align: center;
        width: 95%;

    }

    &__item {
        width: 100%;

        &:not(:last-of-type) {
            margin-bottom: 12rem;

            @media only screen and (max-width: $bp-medium ) {
                margin-bottom: 10rem;
            }
    
            @media only screen and (max-width: $bp-small ) {
                margin-bottom: 8rem;
            }

        }

        &:first-of-type {
            margin-top: 3rem;
        }
    }

    &__header {
        font-size: 1.8rem;
        margin-bottom: 3.5rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    &__image {
        width: 48%;
        border-radius: 3px;
        box-shadow: 0px 8px 13px rgba(0,0,0,0.3);

        @media only screen and (max-width: $bp-large ) {
            width: 65%;
        }

        @media only screen and (max-width: $bp-medium ) {
            width: 75%;
        }

        @media only screen and (max-width: $bp-small ) {
            width: 90%;
        }

        @media only screen and (max-width: $bp-smallest ) {
            width: 100%;
        }

    }

    &__description {
        width: 48%;
        text-align: left;

        @media only screen and (max-width: $bp-large ) {
            width: 65%;
            margin-bottom: 3rem;
        }

        @media only screen and (max-width: $bp-medium ) {
            width: 75%;
        }

        @media only screen and (max-width: $bp-small ) {
            width: 90%;
        }

        @media only screen and (max-width: $bp-smallest ) {
            width: 100%;
        }
    }

    &__text {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.7;
        color: var(--text);
        margin-bottom: 2rem;
    }

    &__stack {
        font-size: 1.1rem;
        font-weight: 700;
        color: var(--text-highlight);
        text-transform: uppercase;
        margin-bottom: 3rem;
    }

    &__button {
        display: flex;

        & a:first-of-type {
            margin-right: 3rem;
        }

        @media only screen and (max-width: $bp-large ) {
            justify-content: space-evenly;
        }
    }

}

// 🔗🔗 Contact ------------------------------------------------------------------------------------------------------------
.contact {

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__email {
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--text-highlight);
        text-decoration: none;
    }

    &__wrapper {
        display: flex;
        margin: 4rem 0 8rem 0;
    }

    &__footer {
        align-items: center;
    }

    &__logo {
        width: 25%;
        margin: 0 37.5%;
    }

    &__text {
        color: var(--text-highlight);
        margin-bottom: 2rem;

        &-primary {
            font-size: 3rem;
            font-weight: 500;
            line-height: 1;

            text-transform: uppercase;
        }

        &-secondary {
            font-size: 1rem;
            font-weight: 700;
            color: #777;
            letter-spacing: 8px;
            margin-left: 6px;
            transform: scaleY(.98);

            text-transform: uppercase;
        }
    }

    &__copyright {
        font-size: 1rem;
        font-weight: 700;
        color: var(--text-highlight);
        text-transform: uppercase;
        text-align: center;
        letter-spacing: .7px;
        transform: scaleY(.984);
    }
}