// 🎲🎲 Header -------------------------------------------------------------------------------------------------------------
.header {
    display: flex;
    align-items: center;
    
    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 11rem;
    }

    &__logo {
        height: 37.5px;
        cursor: pointer;
        margin-right: 10px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin-right: auto;

        &-primary {
            font-size: 23px;
            font-weight: 400;
            line-height: 20px;
            color: var(--text-highlight);
            text-transform: uppercase;
        }

        &-secondary {
            font-size: 8px;
            font-weight: 700;
            line-height: 10px;
            margin-left: 2px;
            color: var(--color-primary-light);
            letter-spacing: 6px;
            text-transform: uppercase;
        }
    }

    .navigator {

        &__link {
            font-size: 1.1rem;
            font-weight: 700;
            padding: 1rem 2rem;
            color: var(--color-text);
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                color: var(--color-primary-light);
            }
        }
    }
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__wrapper {
        width: 100%;
        padding: 6rem 0;
        margin-top: 14.35rem;
        margin-bottom: auto;
        color: var(--color-text);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__header {
        text-align: center;
        margin-bottom: 6rem;
    }

    &__primary {
        font-size: 2.4rem;
        font-weight: 700;
        color: var(--color-primary);
        text-transform: uppercase;
        margin-bottom: .4rem;
    }

    &__secondary {
        font-size: 1.9rem;
        font-weight: 400;
        color: var(--text);
    }

    &__tertiary {
        font-size: 1.85rem;
        font-weight: 600;
        color: var(--text-highlight);
        margin-top: 5rem;
        margin-bottom: 1.6rem;
    }

    &__content {
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 1.7;
        text-align: center;
        width: 85%;
    }

}

.title {
    width: 90%;
    margin: 0 auto;
    
    &__wrapper {
        margin-bottom: 6rem;
    }
}

// ✌✌ About me ----------------------------------------------------------------------------------------------------------
.paragraph {
    margin: 1.6rem 0;
}

.language {
    width: 75%;
    margin: 0 auto;

    &:not(:last-child){
        margin-bottom: 3rem;
    }

    &__detail {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.8;
        color: var(--color-primary);
        text-transform: uppercase;

        &:not(:last-of-type){
            margin-bottom: 1rem;
        }
    }
}

.cours {
    &__link {
        color: var(--text-highlight);
        font-weight: 600;

        &:hover {
            color: var(--color-primary);
        }
    }
}

.button {

    &__wrapper {
        display: flex;
        justify-content: center;

        & a:first-of-type {
            margin-right: 3rem;
        }
    }

    &__icon {
        color: inherit;
        margin-right: .5rem;
    }
}

.span {

    &__primary {
        font-weight: 600;
        font-style: italic;
        color: var(--color-white);
        position: relative;
        padding: .2rem .3rem;
        word-break: break-word;
        white-space: normal;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: var(--color-primary);
            transform: rotate(-1.5deg);
            z-index: -1;
        }
    }

    &__secondary {
        color: var(--text-highlight);
        font-weight: 600;
        font-style: italic;
    }

}

// 💪💪 Portfolio ----------------------------------------------------------------------------------------------------------

.portfolio {

    &__content {
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 1.7;
        text-align: center;
        width: 95%;

    }

    &__item {
        width: 100%;

        &:not(:last-of-type) {
            margin-bottom: 12rem;
        }

        &:first-of-type {
            margin-top: 3rem;
        }
    }

    &__header {
        font-size: 1.8rem;
        margin-bottom: 3.5rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    &__image {
        width: 48%;
        border-radius: 3px;
        box-shadow: 0px 8px 13px rgba(0,0,0,0.3);
    }

    &__description {
        width: 48%;
        text-align: left;

    }

    &__text {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.7;
        color: var(--text);
        margin-bottom: 2rem;
    }

    &__stack {
        font-size: 1.1rem;
        font-weight: 700;
        color: var(--text-highlight);
        text-transform: uppercase;
        margin-bottom: 3rem;
    }

    &__button {
        display: flex;

        & a:first-of-type {
            margin-right: 3rem;
        }
    }

}

// 🔗🔗 Contact ------------------------------------------------------------------------------------------------------------
.contact {

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__email {
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--text-highlight);
        text-decoration: none;
    }

    &__wrapper {
        display: flex;
        margin: 4rem 0 10rem 0;
    }

    &__footer {
        align-items: center;
    }

    &__logo {
        width: 30%;
        margin: 0 35%;
    }

    &__text {
        color: var(--text-highlight);
        margin-bottom: 2rem;

        &-primary {
            font-size: 3rem;
            font-weight: 500;
            line-height: 1;

            text-transform: uppercase;
        }

        &-secondary {
            font-size: 1rem;
            font-weight: 700;
            color: #777;
            letter-spacing: 8px;
            margin-left: 6px;
            transform: scaleY(.98);

            text-transform: uppercase;
        }
    }

    &__copyright {
        font-size: 1rem;
        font-weight: 700;
        color: var(--text-highlight);
        text-transform: uppercase;
        text-align: center;
        letter-spacing: .7px;
        transform: scaleY(.984);
    }
}