.container {
}

.header {
    height: 6.7rem;
    width: 100%;
    background: var(--navbar);
    box-shadow: 0 0.5rem 2rem var(--shadow-color);
    z-index: 100;
}

.section {
    width: 100%;
    max-width: 124rem;
    padding: 0 4rem;
    margin: 0 auto;
}

.main {
    
}